<div *ngIf="test">
  <h1>{{test.title}}</h1>
  <form #myForm="ngForm" novalidate>
    <ul>
      <li *ngFor="let question of test.questions"><h3>{{question.title}}</h3>
        <mat-radio-group class="example-radio-group" required [(ngModel)]="question.ans" name="{{question.title}}"
                         [disabled]="checked">
          <mat-radio-button class="example-radio-button" *ngFor="let answer of question.answers" [value]="answer">
            {{answer.title}}<br>
          </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="checked">
          <h4 class="correctAnswer" *ngIf="question.ans.correct">Верно</h4>
          <h4 class="incorrectAnswer" *ngIf="!question.ans.correct">Неверно, правильный ответ
            {{getCorrectAnswer(question)}}</h4>
        </div>
      </li>
    </ul>
    <button mat-raised-button color="primary" *ngIf="!checked" [disabled]="myForm.invalid" (click)="checkAnswers()">
      Проверить ответы
    </button>
    <button mat-raised-button *ngIf="checked" (click)="clear()">Очистить</button>
  </form>
</div>
<h1 *ngIf="result">Результаты теста: {{result}}</h1>
<h1 *ngIf="error">{{error}}</h1>
